<?xml version="1.0"?>
<!-- Copyright 2026 Matteo Bernacchia <dev@kikijiki.com> -->
<!-- SPDX-License-Identifier: MIT -->
<robot name="restocker" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <!-- Renders the wrist RGB-D in Gazebo. On by default; inert here because this description is
       not simulated. The simulation composition owns the decision. -->
  <xacro:arg name="wrist_camera_sensor" default="true"/>
  <xacro:include filename="$(find restocker_description)/urdf/robot.xacro"/>

  <link name="world"/>
  <xacro:restocker_robot_with_parent
    prefix="$(arg prefix)"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur10e/joint_limits.yaml"
    wrist_camera_sensor="$(arg wrist_camera_sensor)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:restocker_robot_with_parent>
</robot>
